
.animated{
  padding: 10px 16px;
  text-decoration: none;
  font-size: 80px;
}
	body { 
	width: 70%; 
	max-width: 800px; 
	min-width: 480px; 
	margin: 0 auto; 
	background-color: brown;
	} 

p {
  font-family: verdana;
  font-size: 20px;
  color: silver;
}

